<input type="text" [(ngModel)]="newContent.id" placeholder="ID">
<input type="text" [(ngModel)]="newContent.title" placeholder="Title">
<input type="text" [(ngModel)]="newContent.description" placeholder="Description">
<input type="text" [(ngModel)]="newContent.creator" placeholder="creator">
<input type="text" [(ngModel)]="newContent.type" placeholder="Type">

<!-- add input fields for other necessary fields -->
<button (click)="onSubmit()">Add Content</button>
<p class="error" >{{errorMessage}}</p>
