
<!-- <app-app-messages></app-app-messages>
<app-content-list></app-content-list> -->

<!-- <app-app-messages></app-app-messages> 
<div class="container"> -->
    <!-- <h1>{{ title }}</h1>
    <div>
      <label for="contentId">Enter Content ID:</label>
      <input type="number" id="contentId" [(ngModel)]="id">
      <button (click)="onRetrieve()">Get Content</button>
       
    </div>
    <hr>
    <app-content-card [con]="contentCard"></app-content-card>  -->
   
    <!-- <app-content-list></app-content-list>
  
  </div> -->
<div class="container">
  <app-app-messages></app-app-messages> 
  <a   mat-raised-button color="accent" routerLink="/list">View Content List</a>
  <router-outlet></router-outlet>
</div>