



    
     <div class="card" style="width: 22rem;">
       
        <div class="card-body">
          
          <header class="card">{{con.id}}</header>
          <h5 class="card-title border">{{con.title}}</h5>
          <p class="card-text">{{con.description}}</p>
          <p class="card-text">{{con.creator}}</p>
          <h5 class="card-text">{{con.type}}</h5>
          <img src="{{con.imgURL}}" (click)="Onclick(con)" class="card-img-top" alt="...">
          
          
        </div>
      </div>

 