
    <div [ngClass]="{'type1': con.type === 'hobbies', 'type2': con.type === 'video','type3':con.type===''}"    >
      <div class=" " style="width: 22rem;">
       
        <div class="card-body"  appHoverAffect hoverAffect="2px  solid green">
          
          <header class="card ">{{con.id}}</header>
          <h5 class="card-title" appHoverAffect hoverAffect="bold" >{{con.title |lowercase}}</h5>
          <p class="card-text" appHoverAffect hoverAffect="bold">{{con.description}}</p>
          <p class="card-text"  appHoverAffect hoverAffect="bold">{{con.creator}}</p>
          <p class="card-text"  appHoverAffect hoverAffect="underline">{{con.type}}</p>
          <!-- it will show image when imgurl is not empty -->
           <img   *ngIf="con.imgURL!=''" src="{{con.imgURL}}" (click)="Onclick(con)" class="card-img-top" alt="...">   
             <!-- it will show default image when imgurl is  empty -->
          <img  *ngIf="con.imgURL==''" src="{{DefaultImage}}" (click)="Onclick(con)" class="card-img-top" alt="...">
          
        </div>
      </div>
    </div>

 