
<div class="search">
  <input type="text" [(ngModel)]="searchTitle">
  <button (click)="search()">Search</button>
</div>

<div *ngIf="message" [ngClass]="{'success': exist, 'error': !exist}">
  {{message}}
</div>
<h3>No types</h3>
<div class="content-list-container">
    <app-content-card  *ngFor="let con of content | contentFilter:''"  [con]="con" ></app-content-card>
  </div>
<h3>Hobbies</h3>
  <div class="content-list-container">
    <app-content-card *ngFor="let con of content | contentFilter:'hobbies'"  [con]="con" ></app-content-card>
  </div>
  <h3>Videos</h3>
  <div class="content-list-container">
    <app-content-card *ngFor="let con of content | contentFilter:'video'"  [con]="con" ></app-content-card>
  </div>